
{%extends "base.html"%}
<!doctype html>

<!--

    album[0]: album_id
    album[1]: album_name
   
    photo[0]: picture_data
    photo[1]: picture_id
    photo[2]: caption
-->
{%block content%}
<title>Photoshare</title>

  <h1>{{album[1]}}</h1>
  <form method="POST" action=""><button class="btn btn-primary" type="submit" formaction = '/deleteAlbum/{{album[0]}}.html' name="deleteAlbum" value = "">Delete Album :(</button></form>
{% if photos %}
<h2>Photos in this album</h2>

    <ol>
    {% for photo in photos %}

        <li><a href="/picture/{{photo[1]}}">{{photo[2]}}</a><br>
    {% endfor %}
    </ol>

{% else%}
<h2> This Album has no photos :( </h2>
{% endif %}


<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/search'>Search</a></li>
<li><a href='/'>Home</a></li>
</ul>
{%endblock%}