<html>
<style>
    .header{
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 5em;
        font-size: 1.3em;

    }


    .content {
        padding-right: 10%;
        padding-left: 10%; 
    }
</style>
<table class="header">
    <tr>
        <th><a href='/upload'>Upload a photo</a> </th>
        <th><a href='/logout'>Logout</a></th>
        <th><a href='/search'>Search</a></th>
        <th><a href='/searchTag'>Search By Tag</a></th>
        <th><a href='/searchComment'>Search By Comment</a></th>
        <th><a href='/albums'>All Albums</a></th>
        <th><a href='/myalbums'>My Albums</a></th>
        <th><a href='/createalbum'>Create an Album</a></th>
        <th><a href='/populartags'>Most Popular Tags</a></th>
        <th><a href='/'>Home</a></th>
    </tr>
</table>
<div class="content">
    {%block content%}
    {%endblock%}
</div>
</html>