<!-- author ben lawson (balawson@bu.edu) -->
<style>
.photoDisplay{
  margin: auto;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  width: 50%
}
.comments {
    margin: auto;
    background-color: #fed9ff;
    width: 600px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}
</style>
{%extends "base.html"%}
<!doctype html>



{%block content%}
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}
{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<!--
{% if photos %}
<h2>Here are the photos on our network</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <li>Posted by {{photo[3]}}</li>
    {% endfor %}
    </ul>
{% endif %}
-->
{%if photos%}
  <h2> Here are some photos from our network </h2>
  <td><form method="POST" action=""><button class="btn btn-primary" type="submit" formaction = '/useractivity.html' name="getCons" value = "">View Contributions!</button></form></td>
  <td><form method="POST" action=""><button class="btn btn-primary" type="submit" formaction = '/fr.html' name="FindNewFriends" value = "">Find New Friends!</button></form></td>
    {%for photo in photos%}
      
      <div class="photoDisplay">
        <h3>{{photo[2]}} - by: {{photo[3]}}</h3>
        

        
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}', style="width: 800px"/>
        
      </div>
      
    {%endfor%}
{%endif%}
{%endblock%}

