<!DOCTYPE html>
{%extends "base.html"%}
<title>Search By Comment</title>
{%block content%}
<h2>Search By Comment</h2>

<form method="post">
    <label for="search"> Search by a Comment</label>
    <input type="text" name="searchcomment"></input>

    <p>
        <input type="submit" value="Search">
    </p>
</form>
{%if results%}
<h3>Results:</h3>
<ol>
{%for comment in results%}
<li><a href="/picture/{{comment[3]}}">{{comment[1]}} says: {{comment[0]}}</a>  </li>
{%endfor%}
</ol>
{%endif%}

{%endblock%}