<!doctype html>
<title>Photoshare</title>

  <h1>{{ user[0] }}'s profile</h1>
 <!-- <td> <form method="post" action=""><input type="button" onclick="alert('Friend Added!')" name={{user[2]}} value="Add Friend" required='false' /><br /></form></td> -->
  <td><form method="POST" action=""><button class="btn btn-primary" type="submit" name="addFriend" value = "{{user[2]}}">Add Friend</button></form></td>
  <td><form method="POST" action=""><button class="btn btn-primary" type="submit" formaction = '/{{user[2]}}/friendlist.html' name="getUserFriends" value = "{{user[2]}}">View Friends</button></form></td>

{% if photos %}
<h2>{{user[0]}}'s photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}


<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/search'>Search</a></li>
<li><a href='/'>Home</a></li>
</ul>
